@model  ProyectAplication.Models.Constellation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Constellation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hemisphere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hemisphere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name_S)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_S)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdConstellation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
